@{
    ViewBag.Title = "About";
}
<h2>Single Fam Homes - Investment Properties Project</h2>
<hr/>
<h3>This is a coding exercise project that Shiva Manjunath did for Roofstock, based on the following requirements.</h3>

<img src="~/Requirements.png"/>
