@{
    ViewBag.Title = "Contact";
}
<h2>Shiva Manjunath</h2>
<h3>Sr. Software Engineer & Solutions Architect</h3>

<address>
    San Francisco, CA 94115<br />
    <abbr title="email">e:</abbr>
    AlohaShiva @@ gmail.com
</address>

